<h1>Dokumentacija Backenda</h1>
<h3>Statistika obremenjenosti ceste:</h3>
<p>GET -> /api/rl/ - vrne seznam vseh podatkov o obremenjenosti cestisca</p>
<p>GET -> /api/rl/addTestData - generira testne podatke in te shrani v bazo</p>
<p>GET -> /api/rl//roadAndYear/:roadName/:year - vrne vse podatke o cestiscu z podanim imenom in za podano leto</p>
<p>POST -> /api/rl/ - prejme v body JSON datoteko z nekim stevilom podatkov in to shrani v bazo</p>
<h3>Stanje cestisca:</h3>
<p>GET -> /api/rc/ - vrne seznam vseh podatkov o stanju cestisca</p>
<p>GET -> /api/rc/addTestData - generira testne podatke in te shrani v bazo</p>
<p>POST -> /api/rc/addNew - prejme v body JSON datoteko z nekim stevilom podatkov, to pozene skozi algoriten in to shrani v bazo</p>
<h3>Prometni znaki:</h3>
<p>GET -> /api/ts/ - vrne seznam vseh podatkov o prometnih znakih</p>
<p>GET -> /api/ts/addTestData - generira testne podatke in te shrani v bazo</p>
<p>POST -> /api/ts/addNew - prejme formo z sliko in longitude in latitude, algoritem se odloci ali je na sliki znak ali ne in nato podatke shrani v bazo</p>
